<div class="item_description">
</div>


<ul class="piece_details">
  <li> color: <%=color%> </li>
  <li> brand: <%=brand%> </li>
  <li> size: <%=size%> </li>
  <li> source <%=source%> </li>
  <li> price: <%=price%> </li>
  <li> note: <%=note%> </li>
  <li> last worn: </li>
</ul>

<a href="#/index">Back</a>