


<h1> HANGERZ </h1>

<h3> <%= link_to "Sign Up", new_user_path unless session[:user_id] %> </h3>


<% unless session[:user_id] %>
  <%= form_tag "/session" do %>
    <%= label_tag :email %>
    <%= email_field_tag :email %>

    <%= label_tag :password %>
    <%= password_field_tag :password %>

    <%= submit_tag "Log in", class: 'button' %>
  <% end %>
<%end%>

<% unless flash[:message].nil? %>
  <h3> Error </h3>
  <ul>
    <li><%= flash[:message] %></li>
  </ul>
<%end%>


<div id="pieces"></div>

<script type="text/javascript">
  console.log("HELLO")
  $(function() {
    window.router = new Hangerz.Routers.PiecesRouter({
      pieces: <%= @pieces.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>








